.home-bg {
  background-color: #152850;
  height: 100vh;
}
.log-out {
  background-color: transparent;
  height: 33px;
  width: 80px;
  border: 1px solid #c3cad9;
  border-radius: 1px;
  font-family: 'Roboto';
  color: #c3cad9;
  margin-top: 16px;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.heading {
  font-family: 'Roboto';
  font-size: 45px;
  color: #ffffff;
}
.digital-card {
  width: 78%;
}
.digital-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
